* {
  box-sizing: border-box;2
}
td {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  height: 100px;
  font-size: 40px;
  width: 100px;
  margin: 0;
  text-align: center;
  vertical-align: center;
}
td:nth-child(3) {
  border-right: 0;
}

tr:nth-child(3) td {
  border-bottom: 0;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

.game-over {
  background: grey;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.winning {
    background-color: palevioletred
}
.hidden {
  display: none;
}

.game-board {
  position: relative;
}
